.row#introducting
  .container
    #introducing-text-holder.col-md-6.col-sm-12.col-xs-12
      %p#intro
        Introducing
      %p#names
        Becca & Dan Schneiderman

.row#information
  .container
    #information-text-holder
      .col-md-8.col-md-offset-2.col-sm-12.col-xs-12
        .row
          %p
            We would like to invite you to a celebration of our recent marriage
          %p
            May 31st, 2014 
          %p
            from 2 till 5 o'clock in the afternoon
          %p
            5084 East Henrietta Road (Burns Court)
            Henrietta, NY 14467
            %br
            = link_to "map", "https://goo.gl/maps/hHkPm"
          %p
            RSVP
          %p
            by the 27th of May
          %p
            to Carol Kennedy at carol@carolkennedylmt.com
            %br
            or Laurel Schneiderman at laurelgs31@gmail.com
            %br
            For phone: 317-8179 (Carol)
          %p
            Parking information will be posted here a few days before the event.
        .row
          #website
            %p
              For more wedding info, checkout:
              = link_to "wedding.schneidy.com", root_path
  
/ .row
/   %p#error 
/     = flash[:error]
/   %p#notice
/     = flash[:notice]
/ .row
/   = render :partial => "form"