#fixed-nav
  .col-md-4
  .col-md-4
    %ul.list-inline
      %li
        %a{href: "#our-story"}
          Our Story
      %li
        %a{href: "#the-wedding"}
          The Wedding 
      %li
        %a{href: "#photos"}
          Photos
      %li
        %a{href: "#registries"}
          Registries