#introduction
  .col-md-8
    .col-md-2
      Photo Here
    .col-md-6
      %p
        ="Thank you for visiting our wedding website! We've put this site together so we can share our story, help our guests find accommodations, and provide directions to the ceremony and reception! We are so excited to be getting married and can't wait to share our special day with each of you."
      %p
        = "May 25th is right around the corner so check back often for updates (we will even update the site after the wedding with pictures from the ceremony and reception!). If you have any questions, please don't hesitate to contact us."
      %p
        = "- Becca & Dan"