#nav
  .col-md-3
  .col-md-7
    .row
      %ul.list-inline
        %li#our-story
          %a{href: "#our-story"}
            Our Story
        %li#the-wedding
          %a{href: "#the-wedding"}
            The Wedding
        %li#logo
          = image_tag "http://placekitten.com/g/240/120"
        %li#photos
          %a{href: "#photos"}
            The Photos
        %li#registries
          %a{href: "#registries"}
            Our Registries