#nav
  .col-md-2
  .col-md-8
    .col-md-2
      %a{href: "#our-story"}
        Our Story
    .col-md-2
      %a{href: "#the-wedding"}
        The Wedding
    .col-md-2
      %span
        Logo
    .col-md-2
      %a{href: "#photos"}
        Photos
    .col-md-2
      %a{href: "#registries"}
        Registry