#nav
  .row
    %ul.list-inline.hero-nav
      %li#our-story-nav
        %a{href: "#our-story"}
          Our Story
      %li#the-wedding-nav
        %a{href: "#the-wedding"}
          The Wedding
      %li#logo-nav
        = image_tag "tardis_vine.png"
      %li#photos-nav
        %a{href: "#photos"}
          The Photos
      %li#registries-nav
        %a{href: "#registries"}
          Our Registries