#our-story.row
  .col-md-3
  .col-md-6
    .section-title 
      Our Story
    .story
      %p
        We met during "Hot Mikado", put on by the Off-Monroe Players in the spring of 2007. Our first date was one week after the final show. It was the night before Becca's junior prom and Dan skipped his for the date. We were both doubly excited and nervous. Even though we were both pretty shy at first, we warmed up to each other and the date was a success! Since that first date, we have been through so much together. College, our first apartment, sending letters back and forth whenever we were apart, moving to New York City, and now moving back to Rochester.
      %p
        In New York City, our relationship got the final stamp of approval (after passing other tests - distance, money, health): the proposal. It was a beautiful snowy evening in Central Park and we had the Authors' Walk all to ourselves. Suddenly, Dan stopped and got down on one knee to ask if we could begin the next chapter of our lives together. Because every life is a storybook and changes are just new chapters beginning and we can't wait for this one to start.