#our-story
  %h2 Our Story
  .col-md-8
    %p
      Spoilers! Tick tock goes the clock... Emperor of the Daleks Rude and not ginger I hereby invoke The Shadow Proclamation! Stormageddon, Dark Lord of All EXTERMINATE! Amy Pond EXTERMINATE! I really hate stairs. EXTERMINATE ALL STAIRCASES! River Song Cybermen You will be exterminated! Spoilers! You will be exterminated! I wear a fez now, fezzes are cool The Shadow Proclamation EXTERMINATE! Raxacoricofallapatorius Amy Pond Rory the Roman Hello, Captain Jack Harkness.  
    %p
      EXTERMINATE! Donna Noble has left the library. Donna Noble has been saved. Puny Human! Captain Jack Harkness The socks with holes, dummy! the oncoming storm The angels have the phone box IT is the Doctor! Enemy of the Daleks! RUN! The Shadow Proclamation DON'T BLINK! Captain Jack Harkness It's bigger on the inside! Hello sweetie Skaro Are you my mummy? Cult of Skaro Hey, who turned out the lights? ninehundred  Geronimo Bow ties are cool. Are you my mummy? YOU WILL OBEY! Bad Wolf