#photos
  .row
    .section-title
      Photos
  .row
    .photo-container
      - @engagementPhotosThumbs.each do |photo|
        = link_to (image_tag "engagement_photos/thumbs/#{photo.split('/').last}"), "assets/engagement_photos/full/#{photo.split('/').last}", rel: "group", class: "fancybox"
