#registries
  .section-title
    Registries
  .desc
    %p We are registered at the following locations. You may click the links below to view our registry items online. Thank you for stopping by and please remember to R.S.V.P so we know you will be there.
  .registry-links
    %ul
      %li
        = link_to "Macys", "http://www1.macys.com/registry/wedding/guest/?registryId=2164553"
      %li
        = link_to "Amazon", "http://www.amazon.com/registry/wedding/28C64JKPNLQY"