#the-wedding
  .row
    .col-md-3
    .col-md-6
      %h2.text-center The Wedding
  .row  
    .col-md-2
    .col-md-8
      .desc
        %p
          The ceremony and reception will both be held at Ventosa Vineyards in  Geneva, New York on May 25, 2014. The ceremony will be at 4:30 p.m. with a reception immediately to follow.
      .col-md-4.location-info
        %p.wedding-heading Ceremony & Reception Location
        %p.location-name
          = link_to "Ventosa Vineyards", "http://www.ventosavineyards.com/"
        %p.location-address 3440 New York 96A
        %p.location-address Geneva, NY 14456
        %p.location-phone (315) 719-0000
        %p.directions
          = link_to "Get Directions", "https://goo.gl/maps/r45VV"
      .col-md-4.wedding-party
        %p.wedding-heading Wedding Party
        %p.wedding-party-tite Matron of Honor:
        %ul
          %li.wedding-party-person Nicole Ceres
        %p.wedding-party-tite Bridesmaids:
        %ul
          %li.wedding-party-person Tessa Carpitella
          %li.wedding-party-person Amanda Haessler
          %li.wedding-party-person Emily Walsh
          %li.wedding-party-person Rose Kennedy
          %li.wedding-party-person Steph Schneiderman
        %p.wedding-party-tite Best Woman:
        %ul
          %li.wedding-party-person Emily Egeland
        %p.wedding-party-tite Grooms people:
        %ul
          %li.wedding-party-person Alex Grant
          %li.wedding-party-person Alex Howland
          %li.wedding-party-person Rob Heslin

      .col-md-4.hotel-info
        %p.wedding-heading Hotel Accommodations
        %p.hotel-info
          Coming soon
