// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$default-text-shadow-color: rgba(red, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;
$defualt-div-height: 300px;
 
@import "compass/css3";
@import "compass/css3/images";

@mixin striped-bg($bg-color: #ccc, $darken-amount: 5%, $stripe-color: darken($bg-color, $darken-amount)){
  background-color: $bg-color;
  @include background-image(linear-gradient(-45deg, $stripe-color 25%, transparent 25%, transparent 50%, $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent));
  background-size: 20px 20px;
}

body{
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Linden Hill', serif;
  font-size: 17px;
  line-height: 1.5em;
}

#fixed-nav{
  background-color: #4E355D;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  z-index: 10;
  @include single-box-shadow;

  ul{
    padding: 10px 0 0 0;
    width: 400px;
    margin: 0 auto;
    display: block;
    li a{
      color: #fff;
      display: block;
      text-decoration: none;
      text-align: center;
      padding: 0 8px;
      &:hover{ text-decoration: underline;} 
    }
  }
}

#nav{
  height: $defualt-div-height;
  display: block;
  @include background(image-url("patterns/noise_lines.png"));
  @include single-box-shadow;
  width: 100%;
  margin: 40px 0 0 0;

  .hero-nav{
    display: block;
    width: 824px;
    margin: 100px auto 0 auto;
  }

  ul{
    display: block;
    padding: 0px 0 0 0;

    #our-story-nav, #the-wedding-nav, #photos-nav, #registries-nav {
      height: 40px;
      padding: 8px 0;
      border-top: 1px solid;
      border-bottom: 1px solid;
    }

    li a{
      font-family: 'Linden Hill', serif;
      font-size: 16px;
      color: #4E355D;
      padding: 0 15px;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
    }

    li img{
      width: 240px;
      height: 120px;
      margin: -40px auto 0 auto;
      padding: 0 10px;
    }
  }
}

.section-title{
  padding: 20px 0 10px 0;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Linden Hill', serif;
}

#introduction{
  height: $defualt-div-height;
  @include background(image-url("patterns/greyzz.png"));
  @include single-box-shadow;
  padding: 40px 0 0 0;
  .photo-kiss{
    img{
      width: 80%;
      height: 80%;
      border: 10px #fff solid;
      @include single-box-shadow;
      @include transform(rotate(-2deg));
    }
  }

  .intro{
    padding: 0 0 0 0;
    margin: 0 0 0 -10px;
  }
}

#our-story{
  @include background(image-url("patterns/noise_lines.png"));
  @include single-box-shadow;
  min-height: $defualt-div-height;
  padding: 0 0 40px 0;

  p{
    text-align: center;
    font-size: 17px;
    margin-bottom: 1.3em;
    line-height: 24px;
  }

  p.header{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

#the-wedding{
  @include background(image-url("patterns/greyzz.png"));
  @include single-box-shadow;
  min-height: $defualt-div-height;
}

#photos{
  @include background(image-url("patterns/noise_lines.png"));
  @include single-box-shadow;
  min-height: 700px;
  padding: 0 0 20px 0;

  .photo-container{
    width: 860px;
    margin: 0 auto;
    display: block;
    img{
      display: inline;
      width: 280px;
      height: 187px;
      padding: 3px;
    }
  }
}

#registries{
  @include background(image-url("patterns/greyzz.png"));
  @include single-box-shadow;
  height: $defualt-div-height;
}